<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Bienvenido a algonzalvez.com</title>
  </head>
  <body>
    <h2>Este es el nodo {{ ansible_hostname }}</h2>
    <p>Pulsar (CTRL+F5) para comprobar el balanceo DNS</p>
  </body>
</html>
